body {
    background-image: url(images/body-bg-2.jpg);
    background-size: cover;
}

.playGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.playGame h1 {
    font-size: 6rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 2rem;
}

.playGame button {
    width: 12rem;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    color: #FFF;
}

.playGame button:hover {
    background-color: white;
    color: black;
}

.board {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(0, 0, 0);
    margin-top: 14rem;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    animation-delay: 1s;
}

.bot {
    width: 100%;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.bot img {
    position: absolute;
    width: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player {
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    
}

.player img {
    position: absolute;
    width: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-active {
    background-color: rgba(0, 255, 0, 0.6);
}

.b-active {
    background-color: rgba(0, 255, 0, 0.6);

}

.nextPlayer {
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #FFF;
    animation-delay: 1s;
}

.hide {
    display: none;
}
